.weather-container{
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color:  #addbf8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers horizontally */
  justify-content: center; /* centers vertically */
  min-height: 100vh;     /* full screen height */
  background: linear-gradient(to right, #4facfe, #00f2fe);
  font-family: Arial, sans-serif;
  text-align: center;
}

.weather-container input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 250px;
  font-size: 16px;
}

.weather-container button {
  padding: 10px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.weather-container button:hover {
  background-color: #005bb5;
}

.weather-info {
  margin-top: 20px;
  background: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.input-box {
  display: flex;
  gap: 10px;   /* space between input and button */
  justify-content: center;
  margin: 20px 0;
}

.weather-info img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

